In [1]:
%autosave 20
import math 
import numpy as np
import pandas as pd
test_data=pd.read_csv("test.csv",delimiter=",", 
                    names=["Sensor","Units","type","location","room",
                           "floor","time","value"])


list_sensor=pd.read_csv("list_sensor.csv", delimiter=",",names=["id","factor"])
list_units=pd.read_csv("list_units.csv", delimiter=",",names=["id","factor"]) 
list_sensor
test_data.head(2)

Autosaving every 20 seconds

                                      id  factor
0   5a2bf927-fc7f-45ed-9588-b260326f4216       0
1    0fafe73-7745-4357-8110-20c5a41251f1       1
2   0fa9fe73-7745-4357-8110-20c5a41251f1       2
3    cf2c812-d0c6-4590-9671-fe00c6e3cccc       3
4   cf2c9812-d0c6-4590-9671-fe00c6e3cccc       4
5    0435307-932b-4a7c-af27-6855f1e1d844       5
6   04355307-932b-4a7c-af27-6855f1e1d844       6
7     bab76e-3af1-4353-a92c-24c4e2787efc       7
8   baba576e-3af1-4353-a92c-24c4e2787efc       8
9       c7f39e4fd-4196-8a71-02473a9be547       9
10  c7f39aa4-e4fd-4196-8a71-02473a9be547      10
11  d8271b8d-70f0-4a00-a0b5-c61560e0dfa7      11

,Sensor,Units,type,location,room,floor,time,value
0,5a2bf927-fc7f-45ed-9588-b260326f4216,degrees celsius,Room Temperature,Urban Sciences Building,1,1,2020-05-08T20:22:54.246Z,22.04
1,5a2bf927-fc7f-45ed-9588-b260326f4216,degrees celsius,Room Temperature,Urban Sciences Building,1,1,2020-05-08T20:20:53.556Z,22.06

In [2]:
# data_s=data.sensor_id.unique()
data_s=pd.DataFrame(test_data.Sensor.unique())
data_s

                                      0
0  5a2bf927-fc7f-45ed-9588-b260326f4216
1  0fa9fe73-7745-4357-8110-20c5a41251f1
2  cf2c9812-d0c6-4590-9671-fe00c6e3cccc
3  04355307-932b-4a7c-af27-6855f1e1d844
4  baba576e-3af1-4353-a92c-24c4e2787efc
5  c7f39aa4-e4fd-4196-8a71-02473a9be547
6  d8271b8d-70f0-4a00-a0b5-c61560e0dfa7

In [3]:
# new_sensor = data_s[~data_s[0].isin(ob_list.sensor_id)]

In [4]:
def factorize(obj,obj_list,table,data):
#     print(data[obj].unique())
    data_s=pd.DataFrame(data[obj].unique())
    
    new_sensor = data_s[~data_s[0].isin(obj_list.id)]
    ns=[]
    if(len(new_sensor)>0):
        l=len(obj_list)
        for s in new_sensor[0]:
            n=[s,l]
            l=l+1
            ns.append(n)
        ns=pd.DataFrame(ns,columns=["id","factor"])
        ns.to_csv(table,mode='a', header=False,index=False)

    obj_list=pd.read_csv(table,delimiter=",",names=["id","factor"])
    l=len(obj_list)
    for i in range(0,l):
        data.loc[data[obj]==obj_list.id[i],obj]=obj_list.factor[i]
#         print(i)
#     print(data[obj].unique())

In [5]:
factorize('Sensor',list_sensor,'list_sensor.csv',test_data)

In [6]:
factorize('Units',list_units,'list_units.csv',test_data)

In [7]:
test_data.Sensor.unique()
test_data.Units.unique()
test_data.head()

array([ 0,  2,  4,  6,  8, 10, 11], dtype=int64)

array([0], dtype=int64)

,Sensor,Units,type,location,room,floor,time,value
0,0,0,Room Temperature,Urban Sciences Building,1,1,2020-05-08T20:22:54.246Z,22.04
1,0,0,Room Temperature,Urban Sciences Building,1,1,2020-05-08T20:20:53.556Z,22.06
2,0,0,Room Temperature,Urban Sciences Building,1,1,2020-05-08T20:06:55.172Z,22.02
3,0,0,Room Temperature,Urban Sciences Building,1,1,2020-05-08T20:02:54.687Z,22.06
4,0,0,Room Temperature,Urban Sciences Building,1,1,2020-05-08T19:56:52.805Z,22.04

In [8]:
# l=len(ob_list)
# for i in range(0,l):
#     data.loc[data['sensor_id']==ob_list.objects[i],'sensor_id']=ob_list.factors[i]
# data.sensor_id.unique()